In [1]:
import pandas as pd

In [3]:
df = pd.read_parquet('/Users/bt/Documents/data_engineering_zoomcamp/Week_2/yellow_tripdata_2021-01.parquet')

In [4]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [5]:
from sqlalchemy import create_engine

In [6]:
engine = create_engine('postgresql://newuser:somepassword@localhost:7432/nytaxi')

In [7]:
engine

Engine(postgresql://newuser:***@localhost:7432/nytaxi)

In [8]:
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

In [10]:
df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append',chunksize=10_000)